* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

a {
    color: #007AFF;
    text-decoration: none;

}

h1 {
    display: block;
    margin: 128px 277px 12px 16px;
    font-weight: 500;
    font-size: 32px;
    line-height: 41px;
    letter-spacing: 0.41px;
    color: #000000;
}

#paragraph {
    margin-bottom: 102px;
    line-height: 26px;
    color: rgba(0, 0, 0, 0.5);
    margin-left: 16px;
    font-weight: 400;
    letter-spacing: 00.41px;
}

input {
    width: 343px;
    height: 48px;
    border-radius: 6px;
    background-color: #F2F2F7;
    margin: 0 auto 0 auto;
    display: block;
    border: none;
    padding-left: 14px;
}

#email {
    margin-bottom: 12px;
}

#password {
    margin-bottom: 17px;
}

input::placeholder {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: #929292;
    letter-spacing: -0.41px;
}

#forgot {
    margin: 17px 16px 20px 230px;
    display: block;
}

button {
    width: 343px;
    height: 48px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.94);
    color: #FFFFFF;
    font-size: 17px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.41px;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0 16px 204px 16px;
}

#signup {
    margin: 0 75px 39px 73px;
    color: rgba(0, 0, 0, 0.51);
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}
